data
agents
__pycache__
external_repos
process_data
local_data
outputs
outputs_4o
outputs_timecompute
raw_dataset
logs
test
mirix_wrapper
system
cognee/.cognee_system/
cognee/.data_storage/
*.db
croissant_files
.env
.venv/
*.tgz
